body {
  font-size: 16px;
  margin: 20px;
}
.hidden {
  display: none;
}
.page[pageCode='tutorial'] img {
  width: 90%;
  margin: 10px auto;
}
.page[pageCode='tutorial'] .controls {
  text-align: center;
}
.productInstruction img {
  width: 90%;
  margin: 10px auto;
  border: 1px solid #aaa;
}
